/* ---------------------------
*
* Button.css
*
* ---------------------------*/
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  font-size: 0.875rem;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 2px;
  transition: all 0.15s ease;
}

.button:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

.button object {
  width: 20px;
  margin-right: 0.5rem;
  pointer-events: none;
}

.button.button--primary {
  background: white;
  color: #00C65E;
}

.button.button--primary:hover {
  background: rgba(255, 255, 255, 0.93);
}

.button.button--secondary {
  background: #C5FF00;
  color: #00C65E;
}

.button.button--secondary:hover {
  background: rgba(197, 255, 0, 0.94);
}