/* ---------------------------
*
* GifUploader.css
*
* ---------------------------*/
.gif-creator {
  position: relative;
  padding: 2rem;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

.gif-creator .upload-methods {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif-creator .upload-methods .item {
  width: 200px;
  height: 150px;
}

.gif-creator-editor {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  background: none;
  box-shadow: none;
}

.gif-creator-editor .left,
.gif-creator-editor .right {
  width: 50%;
}

.gif-creator-editor .left .selected-file {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(
45deg
, rgb(14, 14, 14) 25%, transparent 25%, transparent 75%, rgb(14, 14, 14) 75%), linear-gradient(
45deg
, rgb(14, 14, 14) 25%, transparent 25%, transparent 75%, rgb(14, 14, 14) 75%);
  background-size: 24px 24px;
  background-position: 0px 0px, 12px 12px;
  border-radius: 2px;
}

.gif-creator-editor .left .selected-file * {
  max-width: 100%;
  width: 100%;
  display: block;
}

.gif-creator-editor .right {
  padding-left: 1rem;
}

.gif-creator-editor canvas {
  border-radius: 2px;
}

.gif-creator-editor .hidden-image {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  max-width: 100%;
}

/* ---------------------------*
*
* GIF MAKER HEADER
*
* -----------------------------*/

.gif-creator-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.gif-creator-header span {
  cursor: pointer;
}

.gif-creator-header span object {
  margin-right: 1rem;
  pointer-events: none;
}

.gif-creator-loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

/* -----------------------------------
*
* GIF MAKER EDITOR SIDEBAR
*
* ----------------------------------*/
.gif-creator-editor-sidebar {
  padding: 1rem;
  border-radius: 2px;
}

/* .gif-creator-editor-sidebar select[name="font-choice"].roboto,
.gif-creator-editor-sidebar select[name="font-choice"] option[value="roboto"] {
  font-family: 'Roboto', sans-serif;
}

.gif-creator-editor-sidebar select[name="font-choice"].antonio,
.gif-creator-editor-sidebar select[name="font-choice"] option[value="antonio"] {
  font-family: 'Antonio', sans-serif;
} */

.gif-creator-editor-sidebar select[name="font-choice"].alfa-slab-one,
.gif-creator-editor-sidebar select[name="font-choice"] option[value="alfa-slab-one"] {
  font-family: 'Alfa Slab One', sans-serif;
}

.gif-creator-editor-sidebar select[name="font-choice"].anton,
.gif-creator-editor-sidebar select[name="font-choice"] option[value="anton"] {
  font-family: 'Anton', sans-serif;
}

.gif-creator-editor-sidebar select[name="font-choice"].bungee,
.gif-creator-editor-sidebar select[name="font-choice"] option[value="bungee"] {
  font-family: 'Bungee', cursive;
}

.gif-creator-editor-sidebar select[name="font-choice"].coda-caption,
.gif-creator-editor-sidebar select[name="font-choice"] option[value="coda-caption"] {
  font-family: 'Coda Caption', sans-serif;
}

@media screen and (max-width: 700px) {
  .gif-creator-editor {
    flex-direction: column;
  }

  .gif-creator-editor .left,
  .gif-creator-editor .right {
    width: 100%;
  }

  .gif-creator-editor .right {
    padding: 1rem 0 0 0;
  }
}