/* ---------------------------
*
* GifUploader.css
*
* ---------------------------*/
.gif-maker {
  position: relative;
  padding: 2rem;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

.gif-maker .upload-methods {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif-maker .upload-methods .item {
  width: 200px;
  height: 150px;
}

.gif-maker-editor {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  background: none;
  box-shadow: none;
}

.gif-maker-editor .left,
.gif-maker-editor .right {
  width: 50%;
}

.gif-maker-editor .left .selected-file {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(
45deg
, rgb(14, 14, 14) 25%, transparent 25%, transparent 75%, rgb(14, 14, 14) 75%), linear-gradient(
45deg
, rgb(14, 14, 14) 25%, transparent 25%, transparent 75%, rgb(14, 14, 14) 75%);
  background-size: 24px 24px;
  background-position: 0px 0px, 12px 12px;
  border-radius: 2px;
}

.gif-maker-editor .left .selected-file * {
  max-width: 100%;
  width: 100%;
  display: block;
}

.gif-maker-editor .right {
  padding-left: 1rem;
}

.gif-maker-editor .hidden-image {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  max-width: 100%;
}

/* ---------------------------*
*
* GIF MAKER HEADER
*
* -----------------------------*/

.gif-maker-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.gif-maker-header span {
  cursor: pointer;
}

.gif-maker-header span object {
  margin-right: 1rem;
  pointer-events: none;
}

.gif-maker-loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

/* -----------------------------------
*
* GIF MAKER EDITOR SIDEBAR
*
* ----------------------------------*/
.gif-maker-editor-sidebar {
  padding: 1rem;
}


.gif-maker-editor-sidebar select[name="font-choice"].roboto,
.gif-maker-editor-sidebar select[name="font-choice"] option[value="roboto"] {
  font-family: 'Roboto', sans-serif;
}

.gif-maker-editor-sidebar select[name="font-choice"].antonio,
.gif-maker-editor-sidebar select[name="font-choice"] option[value="antonio"] {
  font-family: 'Antonio', sans-serif;
}

@media screen and (max-width: 700px) {
  .gif-maker-editor {
    flex-direction: column;
  }

  .gif-maker-editor .left,
  .gif-maker-editor .right {
    width: 100%;
  }

  .gif-maker-editor .right {
    padding: 1rem 0 0 0;
  }
}