/* ---------------------------
*
* Header.css
*
* ---------------------------*/
.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

/* ---------------------------
*
* LOGO
*
* ---------------------------*/
.app-header .logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.app-header .logo a {
  color: #00C65E;
  font-size: 1.065rem;
  font-weight: 900;
  text-decoration: none;
}

/* ---------------------------
*
* ACTIONS
*
* ---------------------------*/
.app-header .actions {
  display: flex;
  justify-content: flex-end;
}

.app-header .actions .button {
  margin-right: 1rem;
}

.app-header .actions .button:last-of-type {
  margin-right: 0;
}

/* ---------------------------
*
* Profile
*
* ---------------------------*/
.app-header .actions .profile {
  position: relative;
  margin-left: 1rem;
  transition: all 0.15s ease;
  cursor: pointer;
}

.app-header .actions .profile object {
  pointer-events: none;
}