/* ---------------------------
*
* Header.css
*
* ---------------------------*/
.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

@media screen and (max-width: 575px) {
  .app-header {
    height: 120px;
  }

  .app-header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
}

/* ---------------------------
*
* ACTIONS
*
* ---------------------------*/
.app-header .actions {
  display: flex;
  justify-content: flex-end;
}

.app-header .actions a {
  margin-right: 1rem;
}

.app-header .actions a:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 575px) {
  .app-header .actions {
    justify-content: space-between;
  }
}

/* ---------------------------
*
* Profile
*
* ---------------------------*/
.app-header .actions .profile {
  position: relative;
  margin-left: 1rem;
  transition: all 0.15s ease;
  cursor: pointer;
}

.app-header .actions .profile object {
  pointer-events: none;
}