/* ---------------------------
*
* Footer.css
*
* ---------------------------*/
.app-footer {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

.app-footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.app-footer p object {
  pointer-events: none;
}