* {
  font-family: 'Spartan', sans-serif;
}

html {
  background: #282c34;
  font-size: 16px;
  box-sizing: border-box;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 991px) {
  html {
    font-size: 15px;
  }
}

/* ---------------------------------
*
* GRID
*
* ---------------------------------*/
.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.column {
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.column.column-12 {
  width: 100%;
}

.column.column-11 {
  width: calc((100% / 12) * 11);
}

.column.column-10 {
  width: calc((100% / 12) * 10);
}

.column.column-9 {
  width: calc((100% / 12) * 9);
}

.column.column-8 {
  width: calc((100% / 12) * 8);
}

.column.column-7 {
  width: calc((100% / 12) * 7);
}

.column.column-6 {
  width: calc((100% / 12) * 6);
}

.column.column-5 {
  width: calc((100% / 12) * 5);
}

.column.column-4 {
  width: calc((100% / 12) * 4);
}

.column.column-3 {
  width: calc((100% / 12) * 3);
}

@media screen and (min-width: 767px) {
  .column.column-md-4 {
    width: calc((100% / 12) * 4) !important;
  }
}

@media screen and (min-width: 991px) {
  .column.column-lg-3 {
    width: calc((100% / 12) * 3) !important;
  }
}

/* ---------------------------------
*
* PAGE
*
* ---------------------------------*/
.page {
  margin-top: 100px;
  color: white;
}

.page h1 {
  font-weight: 900;
}

.page p a {
  font-weight: bold;
  color: #C5FF00;
  transition: all 0.15s ease;
}

.page p a:hover {
  color: rgba(197, 255, 0, 0.9);
}

/* ---------------------------------
*
* ANIMATIONS
*
* ---------------------------------*/
.fade-up {
  animation: 750ms forwards fadeUp;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}