/* ---------------------------
*
* Form.css
*
* ---------------------------*/
form {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

form hr {
  margin: 2rem 0;
  border-color: rgba(255, 255, 255, 0.1);
}

form .input-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

form .input-wrapper:last-of-type {
  margin-bottom: 0;
}

form .input-wrapper label {
  min-width: 50px;
  margin-right: 1rem;
}

form .input-wrapper input[type="text"] {
  padding: 12px 14px;
  outline: none;
  border: none;
  box-sizing: border-box;
}

form button[type="submit"] {
  min-width: 85px;
}

form button[type="submit"] object {
  margin: 0;
}
