/* ---------------------------
*
* TagInput.css
*
* ---------------------------*/
.react-tagsinput > span {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.react-tagsinput .tag-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.react-tagsinput .tag-wrapper .react-tagsinput-tag {
  position: relative;
  display: inline-flex;
  margin: 0 0.25rem 0.25rem 0;
  padding: 11px 14px;
  background: rgb(53, 180, 255);
  border-radius: 2px;
  font-size: 0.875rem; /* 14px */
  font-weight: bold;
  color: white;
  box-sizing: border-box;
  transition: all 0.15s ease;
  animation: 750ms forwards fadeUp;
}

.react-tagsinput .tag-wrapper .react-tagsinput-tag:hover {
  background: rgba(53, 180, 255, 0.902);
}

.react-tagsinput .tag-wrapper .react-tagsinput-tag .react-tagsinput-remove {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
}